<h2><%= @user.full_name %></h2>

<p><%= @user.email %></p>

<h4>Il y a <%= @count %> Posts en ligne</h4>
<div class="row">
  <% @posts.each do |post| %>
    <%= render partial: "posts/card", :locals => {:post => post} %>
  <% end %>
</div>
