<h3>Il y a <%= @count %> Posts en ligne </h3>
<ul class="postList">
  <% @posts.each do |post| %>
    <li>
      <ul class="post">
        <%= link_to post do %>

        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
