<div class="card m-2" style="width: 18rem;">
  <%= image_tag(post.img.thumb.url) if post.img? %>
  <div class="card-body">
    <%= link_to [post.user, post] do %>
      <h5 class="card-title"><%= post.title %></h5>
    <% end %>
    <p class="card-text"><%= post.kicker %></p>
  </div>
</div>