<div class="card m-2" style="width: 18rem;">
  <%= image_tag(post.img.thumb.url) if post.img? %>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.kicker %></p>
    <a href="#" class="btn btn-primary">Voir plus</a>
  </div>
</div>