<h3>Voici les <%= @count %> derniers posts en ligne </h3>
<% if user_signed_in? %>
  <%= link_to('Nouveau post', [:new, :post], :class => "badge badge-success") %>
<% end %>
<ul class="postList">
  <% @posts.each do |post| %>
    <li>
      <ul class="post">
        <%#= link_to post.title, [:show, post.user, @post]%>
        <%= post.kicker %>
        <%= post.user %>
      </ul>
    </li>
  <% end %>
</ul>
