<h1>Bienvenue sur mon super blog !</h1>

<h3>Voici les  <%= @count %> derniers posts en ligne </h3>
<ul class="postList">
  <% @posts.each do |post| %>
    <li>
      <ul class="post">
        <%#= link_to post.title, [:show, post.user, @post]%>
        <%= post.kicker %>
        <%= post.user %>
      </ul>
    </li>
  <% end %>
</ul>
